
# =============================================================
# == Individual files
# =============================================================

desktop.ini
.DS_Store
workspace.xml
build-local.properties


# =============================================================
# == Wild cards
# =============================================================

*.iws
*.~*
*.zip


# =============================================================
# == Directories
# =============================================================

output/**